.menu-logo {
    max-width: 100%;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


.screenshot-example .screenshot {
    width: 100%;
}

.inactive-menu {
    color: rgba(255, 255, 255, 0.55);
}

img.screenshot {
    cursor: pointer;
}